
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: metamorphmachines.infrastructure.cluster.x-k8s.io
spec:
  additionalPrinterColumns:
  - JSONPath: .metadata.labels.cluster\.x-k8s\.io/cluster-name
    description: Cluster to which this MetamorphMachine belongs
    name: Cluster
    type: string
  - JSONPath: .status.instanceState
    description: Metamorph node state
    name: State
    type: string
  - JSONPath: .status.ready
    description: Machine ready status
    name: Ready
    type: string
  - JSONPath: .spec.providerID
    description: Metamorph instance ID
    name: InstanceID
    type: string
  - JSONPath: .metadata.ownerReferences[?(@.kind=="Machine")].name
    description: Machine object which owns with this MetamorphMachine
    name: Machine
    type: string
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: MetamorphMachine
    listKind: MetamorphMachineList
    plural: metamorphmachines
    singular: metamorphmachine
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: MetamorphMachine is the Schema for the metamorphmachines API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: MetamorphMachineSpec defines the desired state of MetamorphMachine
          properties:
            IPMISecret:
              description: IPMIDetails contains the IPMI details of target node.
              properties:
                address:
                  type: string
                credentialsName:
                  type: string
                disableCertificateVerification:
                  type: boolean
              required:
              - address
              - credentialsName
              type: object
            image:
              description: Image is the image to be deployed.
              properties:
                checksum:
                  description: Checksum is a location of md5sum for the image.
                  type: string
                url:
                  description: URL is a location of the image.
                  type: string
              required:
              - checksum
              - url
              type: object
            online:
              type: boolean
            userData:
              description: SecretReference represents a Secret Reference. It has enough
                information to retrieve secret in any namespace
              properties:
                name:
                  description: Name is unique within a namespace to reference a secret
                    resource.
                  type: string
                namespace:
                  description: Namespace defines the space within which the secret
                    name must be unique.
                  type: string
              type: object
          required:
          - image
          - online
          type: object
        status:
          description: MetamorphMachineStatus defines the observed state of MetamorphMachine
          properties:
            addresses:
              description: ddresses is a list of addresses assigned to the machine.
              items:
                description: NodeAddress contains information for the node's address.
                properties:
                  address:
                    description: The node address.
                    type: string
                  type:
                    description: Node address type, one of Hostname, ExternalIP or
                      InternalIP.
                    type: string
                required:
                - address
                - type
                type: object
              type: array
            errorMessage:
              description: "FailureMessage will be set in the event that there is
                a terminal problem reconciling the Machine and will contain a more
                verbose string suitable for logging and human consumption. \n This
                field should not be set for transitive errors that a controller faces
                that are expected to be fixed automatically over time (like service
                outages), but instead indicate that something is fundamentally wrong
                with the Machine's spec or the configuration of the controller, and
                that manual intervention is required. Examples of terminal errors
                would be invalid combinations of settings in the spec, values that
                are unsupported by the controller, or the responsible controller itself
                being critically misconfigured. \n Any transient errors that occur
                during the reconciliation of Machines can be added as events to the
                Machine object and/or logged in the controller's output."
              type: string
            failureReason:
              description: Constants aren't automatically generated for unversioned
                packages. Instead share the same constant for all versioned packages
              type: string
            providerID:
              description: ProviderID is the unique identifier as specified by the
                provider.
              type: string
            ready:
              description: Ready is true when the provider resource is ready.
              type: boolean
          type: object
      type: object
  version: v1alpha3
  versions:
  - name: v1alpha3
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
